.SuccessContainer {
  grid-column: 3/13;
  height: fit-content;
  background: white;
  padding-top: 0px;
  border: 1px solid #ccc;
}

.Success-body {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 3rem 1.5rem 3rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .ComponentContainer.stripe {
    display: flex;
  }
}

@media screen and (max-width: 480px) {

  .ComponentContainer.stripe {
    display: flex;
    width:85%
  }
}
