/* //////testimonial cards/////// */

.TestimonialContainer {
  grid-column: 1/15;
  padding: 2rem;
  position: relative;
  z-index: 10;
  border: 1px solid #ccc;
  background: white;
  height: fit-content;
  top: 0;
  background: white;
  padding-top: 0;
}

.card {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transition: ease-in 0.25s;
}
.front,
.back {
  height: 200px;
  width: 100%;
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  padding: 1rem;
  position: relative;
  background: rgb(146, 214, 132);
}

.front {
  backface-visibility: hidden;
  position: relative;
}
.card.no_flip {
  margin: 0;
}
.flip {
  transform: rotateY(180deg);
}

.flipCard-button {
  position: absolute;
  color: white;
  cursor: pointer;
  transition: ease-in 0.25s;
  bottom: 0%;
  right: 1%;
  bottom: 0%;
  background: none;
  font-size: 4.5rem;
  padding: 0.25rem;
}

.button.no_flip {
  backface-visibility: hidden;
}

button.flipCard-button.flip,
button.flipCard-button.no_flip {
  bottom: 0%;
  border: none;
  bottom: -5%;
}
/* ////// how to get text to runaround /////// */
/* https://stackoverflow.com/questions/499829/how-can-i-wrap-text-around-a-bottom-right-div/67180791#67180791 */
.back {
  display: flex;
}
.box-testimonial {
  float: right; /* shape-outside only apply to float elements */
  height: 100%; /* take all the height */

  width: 80px;
  margin-left: 15px;
  /* push the image to the bottom */
  object-position: bottom;
  /**/
  shape-outside: inset(
    calc(100% - 40px) 0 0
  ); /* make the text flow on the top free space*/
}

/* //////testimonial text/////// */

.Testimonial_instruction {
  margin-bottom: 10px;
}

.testimonial-text {
  position: absolute;
  top: 0;
  padding: 20px;
  text-align: left;
  font-size: 1.9rem;
  width: 88%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;

  padding: 15px;
  color: black;
}
.byline {
  font-weight: 700;
  font-style: italic;
}
h4.quote {
  font-family: 'Bitter', serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  text-align: left;
  line-height: 1.45;
  text-transform: none;
}

/* //////testimonials carousel/////// */

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  margin: 0 1rem;
}

.carousel-wrapper.signup {
  margin-top: 0px;
}

.carousel-wrapper.edit-user {
  margin: 0;
}
.carousel-img.edit-user {
  height: 200px;
  position: relative;
}
img.carousel-style.edit {
  width: 1000px;
}

/* ///// Media Queries ///// */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  h4.quote {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4.quote {
    font-size: 1.6rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .carousel-wrapper.edit-user.mobile {
    margin: 0;
  }
  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    margin: 0;
  }
  .back {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 625px) {
  h4.quote {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 480px) {
  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    margin: 0;
  }
  h4.quote {
    font-size: 1.5rem;
  }
  .carousel .control-next.control-arrow {
    right: -10%;
  }
  .carousel.carousel-slider .control-arrow {
    color: pink;
  }
  .back {
    padding: 1rem;
  }
}

@media screen and (max-width: 330px) {
  h4.quote {
    font-size: 1.3rem;
  }
}
